// variables
$background-color: #f8f8f8;

$tabbar-background-color: rgb(16, 40, 78);
$tabbar-font-color: #fff;
$font-active-color: #1989fa;

$design-title-color: rgb(15, 40, 79);
$design-border-bottom: rgb(252, 152, 53);
